*
{
    margin: 0;
    padding : 0;
    color: #72215F
}

#logo
{
    height: 50px;
}

header 
{
    padding: 0.5vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.rightHeader
{
    margin-right: 2vw;
    width: 25vw;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px;
    /* border: 1px solid black; */
}

body {
    font-family: Inter;
}

a{
    text-decoration: none;
    color: inherit;
}

footer
{
    bottom: 0;
    left: 0;
    position: fixed;
    width: 98.5%;
    background-color: #3b1131;
    color: white;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.mainText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid green; */
    height: 100%;
    width: 50%;
    padding-top: 5em;
    margin: 0.5em;
}

#heading
{
    text-align: center;
    font-size: 3.5em;
    /* border: 1px solid orange; */
}

#subt
{
    margin-top: 1em;
    /* border: 1px solid red; */
}

.main{
    align-items: center;
    display: flex;
    justify-content: center;
    /* border: 1px solid pink; */
}

.signIn
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signInContainer
{
    display: flex;
    /* border: 2px solid black; */
    margin: 3.5vw 10vw 2vw 10vw;
    /* padding: 4vw; */
}

.leftContainer
{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    line-height: 2em;
    padding: 4vw;
    align-items: center;
    border: 2px solid #581F4C;
    border-radius: 15px 0px 0px 15px;
}

.btn {
    display: block;
    background-color: white;
    border: 1px solid #581F4C;
    color: #581F4C;
    padding: 1em 2em;
    font-size: 0.8rem;
    font-weight: 500;;
    font-family: Inter;
    text-transform: uppercase;
    cursor: pointer;
    width: 250px;
    margin-bottom: 5px;
    text-align: center;
    overflow-wrap: break-word;
    border-radius: 10px;
    transition: background-color 0.1s linear;
}

.btn:hover
{
    color: white;
    background-color: #581F4C;
}

.btn:active
{
    color: white;
    background-color:#3b1131;
}

.xar-header-heading
{
    color: white;
}

.xar-header-subtext
{
    color: white;
}

.xar-separator
{
    color: white;
}

.rightContainer
{
    justify-content:center;
    font-size: 0.8em;
    line-height: 2.5em;
    width: 70%;
    /* padding: 4vw; */
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #581F4C;
    border-top: 2px solid #581F4C;
    border-bottom: 2px solid #581F4C;
    border-radius: 0px 15px 15px 0px;
}

#small
{
    font-weight: 500;
    font-size: 0.9em;
}